<div class="container">
  <table class="table table-striped">
   <tr><th>todo</th><td><%=@list.todo%></td> 
   <tr><th>date</th><td><%=@list.date%></td>
   <tr><th>description</th><td><%=@list.description%></td>
  </table>
    <%= link_to "Home", lists_path, class:"btn btn-primary" %>
</div>